{% load static %}

<section class="ftco-section testimony-section">
    <div class="container">
      <div class="row ftco-animate">
          <div class="col-md-6 col-lg-6 col-xl-4">
              <div class="heading-section ftco-animate">
                <span class="subheading">Services</span>
              <h2 class="mb-4">Experience Great Services</h2>
            </div>
              <div class="services-flow">
                  <div class="services-2 p-4 d-flex ftco-animate">
                      <div class="icon">
                          <span class="flaticon-home"></span>
                      </div>
                      <div class="text">
                          <h3>Expert &amp; Professional</h3>
                          <p>Separated they live in. A small river named Duden flows</p>
                      </div>
                  </div>
                  <div class="services-2 p-4 d-flex ftco-animate">
                      <div class="icon">
                          <span class="flaticon-home"></span>
                      </div>
                      <div class="text">
                          <h3>High Quality Work</h3>
                          <p>Separated they live in. A small river named Duden flows</p>
                      </div>
                  </div>
                  <div class="services-2 p-4 d-flex ftco-animate">
                      <div class="icon">
                          <span class="flaticon-home"></span>
                      </div>
                      <div class="text">
                          <h3>24/7 Help Support</h3>
                          <p>Separated they live in. A small river named Duden flows</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-1 d-xl-block d-none"></div>
        <div class="col-md-6 col-lg-6 col-xl-7">
            <div class="heading-section ftco-animate mb-5">
                <span class="subheading">Testimonials</span>
              <h2 class="mb-4">Satisfied Customer</h2>
              <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
            </div>
          <div class="carousel-testimony owl-carousel">
            <div class="item">
              <div class="testimony-wrap">
                <div class="text bg-light p-4">
                    <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name">Racky Henderson</p>
                  <span class="position">Farmer</span>
                </div>
                <div class="user-img" style="background-image: url({% static 'images/person_1.jpg' %})">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap">
                <div class="text bg-light p-4">
                    <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name">Henry Dee</p>
                  <span class="position">Businessman</span>
                </div>
                <div class="user-img" style="background-image: url({% static 'images/person_2.jpg' %})">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap">
                <div class="text bg-light p-4">
                    <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name">Mark Huff</p>
                  <span class="position">Students</span>
                </div>
                <div class="user-img" style="background-image: url({% static 'images/person_3.jpg' %})">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap">
                <div class="text bg-light p-4">
                    <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name">Rodel Golez</p>
                  <span class="position">Striper</span>
                </div>
                <div class="user-img" style="background-image: url({% static 'images/person_4.jpg' %})">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap">
                <div class="text bg-light p-4">
                    <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name">Ken Bosh</p>
                  <span class="position">Manager</span>
                </div>
                <div class="user-img" style="background-image: url({% static 'images/person_1.jpg' %})">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>