{% load static %}
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-5">
            <h2 class="ftco-heading-2 logo"><span class="flaticon-bee"></span>Cemacon </h2>
            <p>A entrega mais rápida de Aparecida de Goiânia, junto com o melhor preço em materiais básicos, venha conferir.</p>
            <p><h2>Contato</h2><h2>(62) 98411-0405</h2>
            
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
              <li class="ftco-animate"><a href="https://www.facebook.com/cemacon.materiais"><span class="icon-facebook"></span></a></li>
            </ul>
            
          </div>

          
          
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-5 ml-md-4">
            <h2 class="ftco-heading-2">Menu</h2>
            <ul class="list-unstyled">
              <li><a href="#inicio"><span class="ion-ios-arrow-round-forward mr-2"></span>Inicio</a></li>
              <li><a href="#promocoes"><span class="ion-ios-arrow-round-forward mr-2"></span>Promoções</a></li>
              <li><a href="#parceiros"><span class="ion-ios-arrow-round-forward mr-2"></span>Parceiros</a></li>
              <li><a href="#tiposprodutos"><span class="ion-ios-arrow-round-forward mr-2"></span>Tipos de produto</a></li>
              <li><a href="#produtos"><span class="ion-ios-arrow-round-forward mr-2"></span>Produtos</a></li>
            </ul>
          </div>
        </div>
      
      <div class="row">
        <div class="col-md-12 text-center">
          <div>
            <container>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1350.3073190258365!2d-49.33169291873071!3d-16.814155470708915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ef9da6aeb2e2d%3A0x5349ebe7e95f5177!2sCemacon%20Materiais%20para%20Constru%C3%A7%C3%A3o!5e0!3m2!1spt-BR!2sbr!4v1622058482776!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </container>
          </div>
        </div>
      </div>

      
    </div>
    <p style="text-align:center">
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</a>
    </p>
  </footer>