{% load static %}

<section class="ftco-intro" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 text-center">
                <h2>Temos de tudo para sua obra</h2>
                <p>Ligue agora, ou mande uma mensagem no whatsapp com os itens do seu orçamento.</p>
                <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Clique e saiba mais</a></p>
            </div>
        </div>
    </div>
</section>