{% load static %}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
  <div id="promocoes" class="col-md-8 text-center heading-section ftco-animate">
      <span class="subheading">Promoções</span>
    <h2 class="mb-4">Confira nossas promoções exclusivas do site</h2>
    
  </div>
</div>	
        <div class="row">
            {% for p in produtos %}
                
                    <a href="#">
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="staff">
                            <div  class="img-wrap d-flex align-items-stretch">
                                <div  class="img align-self-stretch" style="background-image: url({{ p.imagem.thumb.url }});"></div>
                            </div>
                                <div class="text pt-3 text-center">
                                    <h3>{{ p.produto }}</h3>
                                    <span class="position mb-2">{{ p.marca }}</span>
                    </a>
                                    <div class="faded">
                                        <ul class="ftco-social text-center">
                                        <li class=""><span><s>R$ {{ p.precovenda }}</s></span></li>
                                        <li class=""><span>R$ {{ p.precopromo }}</span></li>
                    
                        
                                    </ul>
                                    </div>
                                </div>
                        </div>
                    </div>
            
            {% endfor %}
        </div>
    </div>
</section>