{% load static %}

<HR WIDTH=50%>
    <section class="ftco-services ftco-no-pt">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-2">
          <div id="tiposprodutos" class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Tipos de produtos</h2>
            <p>Aqui você encontra toda uma variedade de produtos para a sua contrução, que vai desde material básico, até materiais para acabamento.</p>
          </div>
        </div>
        <div class="row"> 
          <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="justify-content-center align-items-center">
                <span class="flaticon-brick-wall"></span>
              </div>
                  <div class="media-body p-2 mt-3">
                <h3 class="heading">Alvenaria</h3>
                <p>Alvenaria é a construção de estruturas e de paredes de concreto utilizando tijolos, cimento, areia e etc.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="justify-content-center align-items-center">
                    <span class="flaticon-pipe"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Materiais Hidráulicos</h3>
                <p>A parte hidráulica diz respeito a encanação da sua obra, onde existem tubos, conexões, materiais para vedação e etc.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="justify-content-center align-items-center">
                    <span class="flaticon-socket"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Materiais Elétricos</h3>
                <p>A Parte elétrica diz respeito a produtos que estão ligados ao projeto elétrico da obra, como tomadas, interruptores, fios e cabos elétricos  .</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="justify-content-center align-items-center">
                    <span class="flaticon-brush"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Pintura e acabamento</h3>
                <p>Toda a parte que irá dar vida ao ambiente, tintas para parede, metais e madeira, e produtos para o finalizar a sua obra.</p>
              </div>
            </div>      
          </div>
        </div>
            </div>
        </section>
   